<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más </div>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="bottom-bar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <form action="*" method="post">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required>
                    <br>
                    
                    <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
                    <br>
                    
                    <input type="email" id="email" name="email" placeholder="E-mail" required>
                    <br>
                    
                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                    <br>
                    
                    <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
                    <br>
                    
                    <label for="perfil">Perfil del usuario:</label>
                    <input type="radio" id="comprar" name="perfil" value="comprar"> Comprar
                    <input type="radio" id="vender" name="perfil" value="vender"> Vender
                    <br>
                    
                    <label for="categorias">Categorías de interés:</label>
                    <input type="checkbox" id="electro" name="categorias" value="Electro"> Electro
                    <input type="checkbox" id="moda" name="categorias" value="Moda"> Moda
                    <input type="checkbox" id="hogar" name="categorias" value="Hogar"> Hogar
                    <input type="checkbox" id="jugueteria" name="categorias" value="Juguetería"> Juguetería
                    <input type="checkbox" id="vidaSana" name="categorias" value="Vida Sana"> Vida Sana
                    <br>
                    
                    <label for="foto">Foto de usuario:</label>
                    <input type="file" id="foto" name="foto" accept="image/*">
                    <br>
                    
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    
                    <label for="confirmPassword">Confirmar Contraseña:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <br>
                    
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </form>
            </section>
        </main>
        <footer>
            <div class="footer-services">
                <article>
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjetas o efectivo en puntos de pago. ¡Y siembre es seguro!</p>
                </article>
                <article>
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </article>
            </div>
            <article class="copyright">
                <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
            </article>
        </footer>
        
    </body>
</html>